html {
    background: #f1f1f1;
}

body {
    max-width: 800px; margin: 10px auto; /* center */
    padding: 10px;
    //border: 1px solid black;
    font-family: 'Merriweather', serif;
}

a {
  color: #268bd2;
  text-decoration: none;
}